@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Bungee+Hairline&family=Source+Code+Pro&display=swap');

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1,
h2 {
    font-family: 'Bungee Hairline', cursive;
}

h3 {
    font-family: 'Source Code Pro', monospace;

}

li {
    list-style: upper-latin;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
}

ol li::before {
    color: #c4ff00;
}

ol {
    padding-inline-start: 0px;
    margin: 0px;
}


/* Classes */

.button {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    background-color: #469bbd;
    color: #2c349c;
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
}

.clicked {
    background-color: #FF5F1F;
}

.Play {
    font-size: 2rem;
    background-color: #c4ff00;
    margin: auto;
}

.button:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 750px) {
    .button {
        font-size: 1rem;
    }

}

