
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.loginInput {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
    background-color: #469bbd;
    color: #2c349c;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}


.signInTitle {
    font-size: 3rem;
    color: #c4ff00;
}

.loginButton {
    background-color: #FF5F1F;
}
